.content p {
    text-align: justify;
}

h1.menu-title a {
    color: inherit;
    text-decoration: inherit;
}

.right-side {
    display: inline-block;
    width: 100%;
    text-align: end;
}

.mocha hr {
    border-color: var(--sidebar-spacer);
}

pre:has(code.doc) {
    white-space: pre-wrap;
    color: var(--doc-fg);
}

h3 code:not(.hljs) {
    color: var(--value-fg);
}
h3 code.hljs {
    text-decoration: none !important;
    background: var(--bg) !important;
}
h3 code::before {
    color: var(--fg);
}